#chevron
    .backToTop
        .small-12.medium-12.large-12.columns
            p.back-to-top-holder
            a.back-to-top
                a(href='#')
                    i.fa.fa-chevron-circle-up.fa-3x
