extends layout

block content
  .conteneur_bandeau
    #background
      .intro
          h1 Trecker
          h2 Le tracker de trek
          p Bienvenue sur #{title}
  .description
    h2 Description du Projet
    p 
        | Projet fil rouge de la formation Concepteur Développeur Informatique
        | du centre AFPA de st Jean de Vedas.
        | Site WEB en lien avec une application mobile
        | qui permet d'enregistrer, de charger et de partager
        | des parcours de randonnées.

    

  
  
    
