doctype html
html
  
  head
    
    title= title

    meta(name='viewport', content='width=device-width')

    link(rel='icon', type='image/png', href='/src/images/favicon.png')
    
    link(rel='stylesheet', href='/src/style.css')
    link(rel='stylesheet', href='/src/header_new.css')
    link(rel='stylesheet', href='/src/css/footer.css')
    link(rel='stylesheet', href='/src/CSS/home/web/home_web.css', type='text/css')
    link(rel='stylesheet', href='/src/CSS/home/mobile/home_mobile.css', type='text/css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  
  body
    
    include header
    
    block content
