@media (max-width: 1024px) {
    body {
        height: 100vh;
    }
    .conteneur_bandeau {
        position: relative;
        height: 386px;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 10px 20px black;
    }
    #background {
        position: absolute;
        height: 386px;
        left: 0%;
        width: 100%;
        background: url('/src/images/home_page_mobile.jpeg') no-repeat;
    }
    .intro {
        position: relative;
        margin-top: 8%;
        margin-right: 8%;
        z-index: 0;
        float: right;
    }
    .intro h1,
    .intro p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .intro p {
        font-size: 25px;
    }
    .intro h1 {
        font-style: italic;
    }
    .description h2 {
        margin-top: 10%;
        text-align: center;
    }
    .description p {
        text-align: center;
    }
    .element1 a,
    .element2 a,
    .element3 a,
    .element4 a,
    .element5 a {
        line-height: 48px;
        font-size: 25px;
        text-align: center;
    }
    footer {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        justify-content: center;
    }
    .logo {
        max-height: 50px;
        max-width: 50px;
        display: flex;
        /* margin: auto; */
    }
}


/* Fin de "l'objet" css pour mobile */

@media (max-width: 1024px) and (orientation: landscape) {
    body {
        height: 100vh;
    }
    .conteneur_bandeau {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 10px 20px black;
    }
    #background {
        position: absolute;
        height: 386px;
        left: 0%;
        width: 100%;
        background: url('/src/images/home_page_mobile.jpeg') no-repeat;
    }
    .intro {
        position: relative;
        margin-top: 8%;
        margin-right: 8%;
        z-index: 0;
        float: right;
    }
    .intro h1,
    .intro p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .intro p {
        font-size: 25px;
    }
    .intro h1 {
        font-style: italic;
    }
    .description h2 {
        margin-top: 10%;
        text-align: center;
    }
    .description p {
        text-align: center;
    }
    footer {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        justify-content: center;
    }
    .logo {
        max-height: 50px;
        max-width: 50px;
        display: flex;
        margin: auto;
    }
}