extends layout

block content
  .Bandeau
  section.small-12.medium-12.large-12.columns  
    img(src='../src/images/Bandeau.png', style='margin-bottom: 5px')
    section.section
      .top-border
        .row
        .large-12
          #nav-under
              ul.inline-list-custom
                li
                  a(href='/users/:idUser') Profil
                li
                  a(href='/photos') Galerie Photos
                  .top-border
        .block_buttons
            button#allPhoto(onclick='loadPhotos()') Toutes
            button#sortPrivate(onclick='sortPrivate()') Privée
            button#sortPublic(onclick='sortPublic()') Publique
            button#sortDateRecent(onclick='sortDateOlder()') date (recent)
            button#sortDateOlder(onclick='sortDateRecent()') date (ancien)
            button#sortTrek(onclick='sortTrek()') Treks
        .block_photos
          ul
            //- each photo in [trek.photos]
            li#photos

    #chevron
      .backToTop
            p.back-to-top-holder
            a.back-to-top
                a(href='#', Title="Retour en haut")
                    i.fa.fa-chevron-circle-up.fa-3x


            
            
    
    script(src="/src/ajax.js")
    script(src="/src/loadPhotos.js")
    
    script(src='/src/jquery.min.js')
    script(src='/src/foundation.min.js')
    script(src='/src/hawthorne.js')

