doctype html
html

  head

    title= title

    link(rel='icon', type='image/png', href='/src/images/favicon.png')

    link(rel='stylesheet', href='/src/style.css')
    link(rel='stylesheet', href='/src/CSS/footer.css')
    link(rel='stylesheet', href='/src/header_new.css')
    link(rel='stylesheet', href='/src/CSS/photos/web/photos_web.css')
    link(rel='stylesheet', href='/src/CSS/photos/mobile/photos_mobile.css')
    link(rel='stylesheet', href='/src/font-awesome-4.7.0/css/font-awesome.min.css')

  body
    
    include /core/views/header
    
    block content